<div class="payment-page">
<div class="payment-success">
  <h1>Thank you for your purchase.</h1>
</div>

<div class="next-steps">
  <h3>Next Steps</h3>
  <ul>
    <li>You will receive a confirmation email with your order details.</li>
    <li>Your order will be processed and shipped within the next 2-3 business
      days.</li>
    <li>If you have any questions, feel free to contact us at homestead.jewels@gmail.com</a>.</li>
  </ul>
</div>
</div>