body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  margin: 1rem 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  text-align: center;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 300px;
  text-align: center;
}

.item h4 {
  margin: 0 0 0.5rem 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

img{
  width: 10em;
  height: 10em;
}


/* Payments Page */
.payment-page{
  text-align: center;
}

.payment-success-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.next-steps {
  margin-top: 30px;
}

.next-steps h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

.next-steps ul {
  list-style-type: none;
  padding: 0;
}

.next-steps ul li {
  font-size: 1em;
  color: #555;
  margin: 10px 0;
  line-height: 1.5;
}

.next-steps ul li a {
  color: #4CAF50;
  text-decoration: none;
}

.next-steps ul li a:hover {
  text-decoration: underline;
}
